body {
  margin: 0;
  background-color: black;
}
#root {
  padding: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#root h1 {
  font-family: "Press Start 2P", Consolas, monospace;
  color: white;
}
#root canvas {
  display: block;
  margin: 0;
  border: 4px solid white;
}
